.repos-diff-contents-row .added.violation {
    background-color: rgba(229, 147, 75, 0.4);
    border-radius: 8px;
}

.repos-diff-contents-row .added.violation.active-violation {
    border: 1px solid rgb(229, 147, 75);
}