body {
    background-color: #22272E;
    color: #FFFFFF;
}

label, p {
    font-weight: bold;
    color: rgb(173, 186, 199);
}

textarea {
    padding: 6px 12px;
    margin-top: 12px;
    border-radius: 6px;
    background-color: #2D333B;
    color: rgb(118, 131, 144);
    border-color: rgb(68, 76, 86);
}

button {
    color: #FFFFFF;
    background-color: rgb(52, 125, 57);
    border-radius: 6px;
    border-color: rgba(205, 217, 229, 0.1);
    border-width: 1px;
    padding: 3px 12px;
    font-size: 12px;
    font-weight: bold;
}